<div class="aih-cart-slot relative">
  <a
    href="{{ routes.cart_url }}"
    class="aih-cart"
    id="cart-icon-bubble"
  >
    <svg width="36" height="36" viewBox="0 0 36 36" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <g id="&#233;&#128;&#154;&#231;&#148;&#168;=false, &#228;&#186;&#178;&#229;&#146;&#140;=True, &#230;&#189;&#174;&#230;&#181;&#129;=false, &#229;&#161;&#171;&#229;&#133;&#133;=false, &#228;&#184;&#173;&#231;&#178;&#151;=True, &#229;&#184;&#184;&#232;&#167;&#132;=false, &#231;&#187;&#134;=false, &#231;&#186;&#164;&#231;&#187;&#134;=false">
      <path id="Vector shape" fill-rule="evenodd" clip-rule="evenodd" d="M9.89717 4.5C6.36008 4.5 3.47225 7.3283 3.39858 10.8646L3.10691 24.8646C3.03103 28.5067 5.96266 31.5 9.6055 31.5H26.395C30.0378 31.5 32.9695 28.5067 32.8936 24.8646L32.6019 10.8646C32.5282 7.32829 29.6404 4.5 26.1033 4.5H9.89717ZM6.39792 10.9271C6.4376 9.02293 7.99258 7.5 9.89717 7.5H26.1033C28.0079 7.5 29.5629 9.02293 29.6026 10.9271L29.8942 24.9271C29.9351 26.8882 28.3565 28.5 26.395 28.5H9.6055C7.64397 28.5 6.0654 26.8882 6.10626 24.9271L6.39792 10.9271ZM14 13C14 12.1716 13.3284 11.5 12.5 11.5C11.6716 11.5 11 12.1716 11 13C11 16.7212 14.2717 19.5 18 19.5C21.7283 19.5 25 16.7212 25 13C25 12.1716 24.3284 11.5 23.5 11.5C22.6716 11.5 22 12.1716 22 13C22 14.8017 20.3469 16.5 18 16.5C15.6531 16.5 14 14.8017 14 13Z" fill="currentColor" fill-opacity="0.9"/>
      </g>
    </svg>
  </a>
  <span class="ai-cart-bubble-anchor">
    {%- if cart != empty -%}
      <span class="ai-cart-bubble absolute">
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true">{{ cart.item_count }}</span>
        {%- else -%}
          99+
        {% endif %}
      </span>
    {%- endif -%}
  </span>
</div>
